.mat-dialog-actions {
   text-align: right;
   display: block;
}

mat-icon {
   font-size: 48px;
   height: 48px;
   width: 48px;
   display: inline-block;
   margin: 0 20px 20px 0;
   vertical-align: middle;
}

p {
   display: inline-block;  
}