<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

   <mat-form-field>
      <input matInput name="nome" required placeholder="Nome da turma" [(ngModel)]="turma.nome">
   </mat-form-field>

   <mat-form-field>
      <!--
         O <mat-select> lista os dados de uma entidade para que seja possível
         associar um deles relacionado a outra entidade.

         No cabeçalho do <mat-select> colocamos a entidade que é o DESTINO
         do relacionamento (a entidade à qual pertencem os dados do formulário).
      -->
      <mat-select name="professor" required placeholder="Professor da turma" [(ngModel)]="turma.professor">

         <!--
            No <mat-option> colocamos a entidade relacionada (aquela cujos dados
            serão listados).
            No atributo [value], será colocado sempre o _id da entidade relacionada.
            Entre {{ }}, colocamos o que queremos que o usuário veja na listagem.
            Quando o usuário fizer a seleção, o _id da entidade relacionada será
            atribuído ao atributo indicado no ngModel da entidade de destino.
         -->
         <mat-option *ngFor="let professor of professores" [value]="professor._id">
            {{professor.nome}}
         </mat-option>

      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-select name="curso" required placeholder="Curso" [(ngModel)]="turma.curso">
         <mat-option *ngFor="let curso of cursos" [value]="curso._id">
            {{curso.nome}}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-select name="dia_semana" required placeholder="Dia da semana" [(ngModel)]="turma.dia_semana">
         <mat-option *ngFor="let diaSemana of diasSemana" [value]="diaSemana._id">
            {{diaSemana.nome}}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <input matInput name="horario_inicial" required placeholder="Horário inicial" [(ngModel)]="turma.horario_inicial"
         mask="Hh:m0">
   </mat-form-field>

   <mat-form-field>
      <input matInput name="horario_final" required placeholder="Horário final" [(ngModel)]="turma.horario_final"
         mask="Hh:m0">
   </mat-form-field>

   <mat-form-field>
      <input matInput [matDatepicker]="data_inicial" placeholder="Data inicial" required
         [(ngModel)]="turma.data_inicial" name="data_inicial">
      <mat-datepicker-toggle matSuffix [for]="data_inicial"></mat-datepicker-toggle>
      <mat-datepicker #data_inicial></mat-datepicker>
   </mat-form-field>

   <mat-form-field>
      <input matInput [matDatepicker]="data_final" placeholder="Data final" required
         [(ngModel)]="turma.data_final" name="data_final">
      <mat-datepicker-toggle matSuffix [for]="data_final"></mat-datepicker-toggle>
      <mat-datepicker #data_final></mat-datepicker>
   </mat-form-field>

   <mat-toolbar class="form-actions">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">Salvar</button>
         <button mat-raised-button type="button" (click)="voltar(f)">Voltar</button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>