/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table[mat-table] {
   width: 100%;
}

div.content {
   padding: 0; /* Sem espaçamento interno */
   margin: 20px; /* 20px nos quatro lados */
}

.btn-lista {
   visibility: hidden;
}

.mat-row:hover .btn-lista {
   visibility: visible;
}

.mat-row:hover {
   /* Amarelo com apenas 10% de opacidade */
   background-color: rgba(yellow, 0.10);
}

.action-new {
   background: transparent;
   margin-bottom: 20px;
}

.action-new .mat-toolbar-row {
   padding: 0;
}

.action-new .mat-raised-button {
   font-size: 125%;
   padding: 8px 16px;
}

form mat-form-field {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
   margin-right: 30px;
}

.form-actions {
   background: transparent;
}

.form-actions mat-toolbar-row {
   display: flex;
   justify-content: space-around;
}

.std-form {
   max-width: 80%;
   margin: 0 auto;
}